body {
    margin: 0;
    padding: 0;
   font-family: 'Adlam', sans-serif;

  background-color: #ffffff;
}

button{
  border:none;
  background:none;
}
.title{
  font-family: 'DynaPuff', sans-serif;
  padding: 20px; 
  font-size:35px;
}
#start {
  display: block;
  margin: auto;
}
#mainInformation {
  text-align: center;
}
.screen {
  display: block;
  margin: auto;

  max-width: 60%;
}
.navbar {
    background-color: #fe892a;
    color: white;
    padding: 05px 5px; /* Increased padding for thicker navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    width: 20%; 
    height: auto; 
}
/* Remove borders for buttons and images */

/* Remove border around images within buttons */

.navbar a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

h2 {
    margin-top: 30px; /* Increased gap between sections */
}

.start-button:hover {
    background-color: #f0f0f0; 
}

.game-button:hover {
    background-color: #f0f0f0; 
}

.start-button{
  width: 80%;

  padding: 20px;
  background-color: transparent;
  border: 0; /* Set border to 0 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove outline on focus */
}

.game-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  /* border: none; */
}

.game-button {
    width: 70%;

    padding: 20px;
    background-color: transparent;
   /* border: 0; /* Set border to 0 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none; /* Remove outline on focus */
}


@media (max-width: 768px) {
    .game-buttons {
        flex-direction: column;
        align-items: center;
     border: none; 
    }

    .game-button {
       border: none;  
        width: 80%;
        margin-bottom: 10px;
    }
}

.hidden {
    display: none;
}
/* Universal focus selector */
.custom-border {
    border: 2px solid #fe892a;; /* Adjust border width and color as desired */
    box-shadow: 0 0 5px #fe892a;; /* Optional: Add a slight box-shadow for a better visual effect */
    outline: none; /* Keep outline set to none */
}
#mathTitle {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center; /* Centered text */
  color: #000f1f; /* Darker text color */
  background-color:#50d246;
}
#spellTitle {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center; /* Centered text */
  color: #000f1f; /* Darker text color */
  background-color:#0087db;
}
footer{
  background-color: #fe892a; 
  color: white; 
  padding: 20px; 
  text-align: center;

}
#mathSection {
  background-color: #a2ec9c; /* Blue background */
}
#languageSection {
  background-color: #8ad0ff; /* Blue background */
}